@model List<Servico>
@{
  ViewData["Title"] = "Serviços - MKMG";
  var tipo = Context.Session.GetString("TipoUsuario");
}

<div class="container py-4">
  <h2 class="text-center mb-4">Serviços</h2>

  @if (tipo == "Protetico")
  {
    <div class="text-center mt-4">
      <a asp-controller="Servicos" asp-action="Create" class="btn btn-primary rounded-pill">Criar</a>
    </div>
    <br />
  }

  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th>Serviço</th>
        <th>Descrição</th>
        <th>Preço</th>
        @if (tipo == "Dentista") 
        {
          <th>Quantidade</th>
        }
        <th style="text-align: center">Ação</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var servico in Model)
      {
        <tr>
          <td>@servico.Nome</td>
          <td>@servico.Descricao</td>
          <td>@servico.Valor</td>
          @if (tipo == "Protetico") 
          {
            <td style="text-align: center;">
              <a asp-controller="Servicos" asp-action="Update" asp-route-id="@servico.Id" class="btn btn-outline-secondary rounded-pill">Editar</a>
              <form asp-controller="Servicos" asp-action="Delete" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@servico.Id" />
                <button type="submit" class="btn btn-danger rounded-pill">Remover</button>
              </form>
            </td>
          }
          else
          {
            <td>
              <form asp-controller="Carrinho" asp-action="Adicionar" method="post" class="d-flex gap-2">
                <input type="hidden" name="id" value="@servico.Id" />
                <input name="Quantidade" type="number" value="1" min="1" class="form-control" style="width: 80px;" required />
                <td style="text-align: center"><button type="submit" class="btn btn-primary btn-sm">Adicionar</button></td>
              </form>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>